<div class="card">
  <div class="card-body">
    <h4 class="card-title">Vehiculos</h4>
    <div class="table-responsive">
      <table class="table table-hover align-middle text-nowrap table-bordered table-striped">
        <thead>
        <tr>
          <th class="text-dark font-medium fs-4">#</th>
          <th class="text-dark font-medium fs-4">Placa</th>
          <th class="text-dark font-medium fs-4">Hora Ingreso</th>
          <th class="text-dark font-medium fs-4">horaSalida</th>
          <th class="text-dark font-medium fs-4">Color</th>
          <th class="text-dark font-medium fs-4">marca</th>
          <th class="text-dark font-medium fs-4">Bahia</th>
          <th class="text-dark font-medium fs-4">Tipo de carroceria</th>
          <th class="text-dark font-medium fs-4">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr >
          <td>
            1
          </td>
          <td>
            KGU454
          </td>
          <td>
            10/11/2023 10:50 am
          </td>
          <td>

          </td>
          <td>
            <input type="color" />
          </td>
          <td>

          </td>
          <td>

          </td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='http://localhost:4200/component/usuarios'">devolver</button>
          </div>
        </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
