<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenidos a Parking</title>
  <!-- Enlaces a Bootstrap y CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #f8f9fa;
    }

    .card {
      margin: 20px;
    }

    .card-body img {
      max-width: 100%;
      height: auto;
    }

    .form-group {
      margin-bottom: 20px;
    }

    .btn-success {
      background-color: #82de86;
      color: white;
    }

    .btn-danger {
      background-color: #cc6e6e;
      color: white;
    }

    .btn-primary {
      background-color: #2390e5;
      color: white;
    }
  </style>
</head>
<body>

<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/parking.jpeg" alt="Parking Image" class="img-fluid" />
      </div>
      <div class="col-md-8">
        <h4 class="card-title">Registro de Vehículos</h4>
        <form>
          <div class="form-group">
            <label for="placa" class="text-dark font-medium fs-4">Placa</label>
            <input type="text" id="placa" name="placa" class="form-control" [(ngModel)]="nuevoVehiculo.placa" />
          </div>
          <div class="form-group">
            <label for="tipoVehiculo" class="text-dark font-medium fs-4">Tipo de Vehiculo</label>
            <input type="text" id="tipoVehiculo" name="tipoVehiculo" class="form-control" [(ngModel)]="nuevoVehiculo.tipoVehiculo" />
          </div>

          <button type="button" class="btn btn-success mr-2" (click)="registrarNuevoVehiculo()">Registrar</button>
          <a href="http://localhost:4200/component/inicio" class="btn btn-danger mr-2" role="button">Cancelar</a>
          <a href="http://localhost:4200/component/vehiculo-in" class="btn btn-primary" role="button">Ver Vehículos</a>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Enlaces a Bootstrap y JavaScript al final para mejorar la velocidad de carga -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

