<div class="card">
  <div class="card-body">
    <h4 class="card-title">Crear Vehículo</h4>
    <form action="/my-handling-form-page" method="post">
      <div class="form-group">
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" class="form-control" />
      </div>
      <div class="form-group">
        <label for="color">Color:</label>
        <input type="text" id="color" name="color" class="form-control" />
      </div>
      <div class="form-group">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" class="form-control" />
      </div>
      <div class="form-group">
        <label for="bahia">Bahia:</label>
        <input type="text" id="bahia" name="bahia" class="form-control" />
      </div>
      <div class="form-group">
        <label for="carroceria">Tipo de Carrocería:</label>
        <input type="text" id="carroceria" name="carroceria" class="form-control" />
      </div><br>
      <button type="button" class="btn btn-secondary btn-sm" onclick="location.href='http://localhost:4200/component/vehiculo-in'">Guardar</button>
    </form>
  </div>
</div>
