
  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/images/parking.jpeg" alt="Parking Image" class="img-fluid" />
      </div>
      <br>
      <div class="col-md-8">
        <h4 class="card-title">Vehiculos</h4>
        <th class="text-dark font-medium fs-4">Placa
        <th class="text-dark font-medium fs-4">Tipo vehiculo</th>

        <tbody>

        <div class="table-responsive">
          <td></td>
          <td>
            <input type="text" name="placa" class="form-control" [(ngModel)]="nuevoVehiculo.placa" />
          </td>
          <td>
            <input type="text" name="placa" class="form-control" [(ngModel)]="nuevoVehiculo.tipoVehiculo" />
          </td>

          <br>

          <button type="button" style="background-color: #4CAF50; color: white;" (click)="registrarNuevoVehiculo()">Registrar</button>
          <br><br>
          <a href="http://localhost:4200/component/inicio" style="background-color: red; color: white;"  class="btn btn-dark" role="button">Cancelar</a>
          <br>
          <br>
          <a href="http://localhost:4200/component/vehiculo-in" style="background-color: blue; color: white;"  class="btn btn-dark" role="button">ver vehiculo</a>
        </div>
      </div>
      </div>
      </div>


